@import "./notes.css";
@import "./filter.css";
@import "./filter.css";


.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction:wrap;
}

.criminalInfo {
    flex-direction: row;
    border: 2px solid black;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 250px;
    padding: 0 0 1rem 1rem;

}
.criminalName{
    text-align: center;
}

.listsContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: no-wrap; 
}